service cloud.firestore {
  match /databases/{database}/documents {
    // Make sure the uid of the requesting user matches name of the user
    // document. The wildcard expression {userId} makes the userId variable
    // available in rules.
    match /users/{userId} {
      allow read, write, create, update, delete: if request.auth.uid != null && request.auth.uid == userId;
    }
    match /users/{userId}/{document=**} {
    	allow read, write, create, update, delete: if request.auth.uid != null && request.auth.uid == userId;
    }
  }
}
