@mixin base-theme {
  --font-sans: "Inter Variable", sans-serif;
  --font-mono: "Roboto Mono Variable", monospace;
  --font-size-body: 0.75rem;
  --font-size-tiny: 0.625rem;
  --line-height-body: 1rem;
  --upper-primary-sticky-fold: 4.125rem;
  --upper-secondary-sticky-fold: 6.188rem;
  --upper-tertiary-sticky-fold: 8.25rem;
  --upper-fourth-sticky-fold: 10.2rem;
  --upper-mobile-primary-sticky-fold: 6.625rem;
  --upper-mobile-secondary-sticky-fold: 8.688rem;
  --upper-mobile-sticky-fold: 10.75rem;
  --upper-mobile-tertiary-sticky-fold: 8.25rem;
  --lower-primary-sticky-fold: 3rem;
  --lower-secondary-sticky-fold: 5.063rem;
  --lower-tertiary-sticky-fold: 7.125rem;
  --lower-fourth-sticky-fold: 9.188rem;
  --sidebar-primary-sticky-fold: 2rem;
}

@mixin light-theme {
  --primary-color: #ffffff;
  --primary-light-color: #f9fafb;
  --primary-dark-color: #f3f4f6;
  --primary-contrast-color: #fdfdfd;

  --secondary-color: #6b7280;
  --secondary-light-color: #9ca3af;
  --secondary-dark-color: #111827;

  --divider-color: #f3f4f6;
  --divider-light-color: #f3f4f6;
  --divider-dark-color: #d1d5db;

  --banner-info-color: theme("colors.stone.100");
  --banner-warning-color: theme("colors.yellow.100");
  --banner-error-color: theme("colors.red.100");

  --tooltip-color: #262626;
  --popover-color: #ffffff;

  --method-get-color: theme("colors.green.500");
  --method-post-color: theme("colors.amber.500");
  --method-put-color: theme("colors.blue.500");
  --method-patch-color: theme("colors.purple.500");
  --method-delete-color: theme("colors.red.500");
  --method-head-color: theme("colors.lime.500");
  --method-options-color: theme("colors.pink.500");
  --method-default-color: theme("colors.slate.500");

  --status-info-color: theme("colors.blue.500");
  --status-success-color: theme("colors.green.500");
  --status-redirect-color: theme("colors.amber.500");
  --status-critical-error-color: theme("colors.red.500");
  --status-server-error-color: theme("colors.rose.500");
  --status-missing-data-color: theme("colors.slate.500");

  --editor-theme: "textmate";
}

@mixin dark-theme {
  --primary-color: #181818;
  --primary-light-color: #1c1c1e;
  --primary-dark-color: #262626;
  --primary-contrast-color: #171717;

  --secondary-color: #a3a3a3;
  --secondary-light-color: #737373;
  --secondary-dark-color: #fafafa;

  --divider-color: #262626;
  --divider-light-color: #1f1f1f;
  --divider-dark-color: #2d2d2d;

  --banner-info-color: theme("colors.stone.800");
  --banner-warning-color: theme("colors.yellow.800");
  --banner-error-color: theme("colors.red.800");

  --tooltip-color: #f5f5f5;
  --popover-color: #1b1b1b;

  --method-get-color: theme("colors.emerald.500");
  --method-post-color: theme("colors.yellow.500");
  --method-put-color: theme("colors.sky.500");
  --method-patch-color: theme("colors.violet.500");
  --method-delete-color: theme("colors.rose.500");
  --method-head-color: theme("colors.teal.500");
  --method-options-color: theme("colors.indigo.500");
  --method-default-color: theme("colors.slate.500");

  --status-info-color: theme("colors.blue.500");
  --status-success-color: theme("colors.green.500");
  --status-redirect-color: theme("colors.amber.500");
  --status-critical-error-color: theme("colors.red.500");
  --status-server-error-color: theme("colors.rose.500");
  --status-missing-data-color: theme("colors.slate.500");

  --editor-theme: "merbivore_soft";
}

@mixin black-theme {
  --primary-color: #0f0f0f;
  --primary-light-color: #171717;
  --primary-dark-color: #181818;
  --primary-contrast-color: #0f0f0f;

  --secondary-color: #a3a3a3;
  --secondary-light-color: #737373;
  --secondary-dark-color: #f5f5f5;

  --divider-color: #1c1c1e;
  --divider-light-color: #181818;
  --divider-dark-color: #323232;

  --banner-info-color: theme("colors.stone.900");
  --banner-warning-color: theme("colors.yellow.900");
  --banner-error-color: theme("colors.red.900");

  --tooltip-color: #f5f5f5;
  --popover-color: #0f0f0f;

  --method-get-color: theme("colors.emerald.500");
  --method-post-color: theme("colors.yellow.500");
  --method-put-color: theme("colors.sky.500");
  --method-patch-color: theme("colors.violet.500");
  --method-delete-color: theme("colors.rose.500");
  --method-head-color: theme("colors.teal.500");
  --method-options-color: theme("colors.indigo.500");
  --method-default-color: theme("colors.slate.500");

  --status-info-color: theme("colors.blue.500");
  --status-success-color: theme("colors.green.500");
  --status-redirect-color: theme("colors.amber.500");
  --status-critical-error-color: theme("colors.red.500");
  --status-server-error-color: theme("colors.rose.500");
  --status-missing-data-color: theme("colors.slate.500");

  --editor-theme: "twilight";
}
