// @import url("https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto+Mono:400&display=swap");
// @import url("https://fonts.googleapis.com/icon?family=Material+Icons&display=swap");

/* Material Design Icons */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  // Do not use font-display: swap for the icon font - it looks really bad when the page
  // loads.
  font-display: block;
  src: url("~static/fonts/material-icons-v67.woff2") format("woff2");
}

/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url("~static/fonts/poppins-v15-latin-500.woff2") format("woff2"),
    url("~static/fonts/poppins-v15-latin-500.woff") format("woff");
}

/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("~static/fonts/poppins-v15-latin-700.woff2") format("woff2"),
    url("~static/fonts/poppins-v15-latin-700.woff") format("woff");
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Mono"), local("RobotoMono-Regular"),
    url("~static/fonts/roboto-mono-v12-latin-regular.woff2") format("woff2"),
    url("~static/fonts/roboto-mono-v12-latin-regular.woff") format("woff");
}
