*,
*::before,
*::after {
  @apply backface-hidden;
}

:root {
  @apply antialiased;

  font-variant-ligatures: common-ligatures;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-divider bg-clip-content;
  @apply rounded-full;
  @apply border-solid border-4 border-transparent;
  @apply hover:(bg-dividerDark bg-clip-content);
}

::-webkit-scrollbar {
  @apply w-4;
  @apply h-4;
}

.hide-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

::selection {
  @apply bg-accent;
  @apply text-accentContrast;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-primary;
  @apply text-secondary;
  @apply font-medium;
  @apply select-none;
  @apply overflow-x-hidden;

  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  overflow: overlay;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.fade-enter-active,
.fade-leave-active,
.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  @apply transition-opacity;
}

.fade-enter,
.fade-leave-to,
.page-enter,
.page-leave-to,
.layout-enter,
.layout-leave-to {
  @apply opacity-0;
}

.material-icons {
  font-size: 133.4% !important;
}

.svg-icons {
  @apply inline-flex;
  @apply flex-shrink-0;
  @apply h-4;
  @apply w-4;
}

a {
  @apply inline-flex;
  @apply text-current;
  @apply no-underline;
  @apply outline-none;
  @apply transition;

  font-size: var(--body-font-size);
  line-height: var(--body-line-height);

  &.link {
    @apply items-center;
    @apply px-2 py-1;
    @apply -mx-2 -my-1;
    @apply text-accent;
    @apply hover:text-accentDark;
    @apply focus-visible:(ring ring-inset ring-accent);
  }
}

.tippy-popper {
  .tooltip-theme {
    @apply bg-tooltip;
    @apply text-primary text-xs;
    @apply font-semibold;
    @apply py-1 px-2;
    @apply shadow;

    kbd {
      @apply first:ml-2;
      @apply last:-mr-1;
      @apply font-sans;
      @apply bg-secondaryDark;
      @apply text-primaryDark;
      @apply rounded;
      @apply px-1;
      @apply ml-1;
    }
  }

  .popover-theme {
    @apply bg-popover;
    @apply text-secondary;
    @apply p-2;
    @apply shadow-lg;
    @apply focus:outline-none;
  }

  &[x-placement^="top"] .tippy-tooltip .tippy-arrow {
    @apply border-t-popover;
  }

  &[x-placement^="bottom"] .tippy-tooltip .tippy-arrow {
    @apply border-b-popover;
  }

  &[x-placement^="left"] .tippy-tooltip .tippy-arrow {
    @apply border-l-popover;
  }

  &[x-placement^="right"] .tippy-tooltip .tippy-arrow {
    @apply border-r-popover;
  }
}

[interactive] > div {
  @apply flex;
  @apply h-full;
}

.tippy-content > div {
  @apply flex flex-col;
  @apply max-h-56;
  @apply items-stretch;
  @apply overflow-y-auto;

  &::-webkit-scrollbar {
    @apply hidden;
  }
}

hr {
  @apply border-b border-dividerLight;
  @apply my-2;
}

.heading {
  @apply font-bold;
  @apply text-secondaryDark text-lg;
}

.input,
.select,
.textarea {
  @apply flex flex-1;
  @apply w-full;
  @apply px-4 py-2;
  @apply bg-primary;
  @apply truncate;
  @apply rounded;
  @apply font-semibold;
  @apply border border-divider;
  @apply transition;
  @apply focus:(outline-none border-accent);
  @apply disabled:cursor-not-allowed;
}

input,
select,
textarea,
button {
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
}

.input[type="file"],
.input[type="radio"],
#installPWA {
  @apply hidden;
}

pre.ace_editor {
  @apply font-mono;
  @apply resize-none;
  @apply z-0;
}

.select {
  @apply appearance-none;

  &::-ms-expand {
    @apply hidden;
  }
}

.select-wrapper {
  @apply relative;
  @apply w-full;
  @apply cursor-pointer;

  &::after {
    @apply absolute;
    @apply flex;
    @apply inset-y-0;
    @apply items-center;
    @apply justify-center;
    @apply pointer-events-none;
    @apply font-icon;
    @apply text-secondaryLight;
    @apply right-3;

    content: "\e313";
  }
}

.search-wrapper {
  @apply relative;
  @apply w-full;

  &::after {
    @apply absolute;
    @apply inline-block;
    @apply pointer-events-none;
    @apply font-icon;
    @apply text-secondaryLight;
    @apply top-2;
    @apply left-3;

    content: "\e8b6";
  }
}

input[type="checkbox"] {
  @apply hidden;

  &,
  & + label {
    @apply align-middle;
    @apply cursor-pointer;

    &::before {
      @apply border-2 border-divider;
      @apply rounded;
      @apply inline-flex;
      @apply items-center;
      @apply justify-center;
      @apply text-transparent;
      @apply h-4;
      @apply w-4;
      @apply font-icon;

      content: "\e876";
      margin: 8px 8px 8px 0;
    }
  }

  &:checked + label::before {
    @apply bg-accent;
    @apply border-accent;
    @apply text-primary;
  }
}

.info-response {
  @apply text-pink-500;
}

.success-response {
  @apply text-green-500;
}

.redir-response {
  @apply text-yellow-500;
}

.cl-error-response {
  @apply text-red-500;
}

.sv-error-response {
  @apply text-red-600;
}

.missing-data-response {
  @apply text-secondaryLight;
}

#response-details-wrapper {
  @apply relative;

  textarea {
    @apply m-0;
    @apply w-full;
  }

  .covers-response {
    @apply absolute;
    @apply inset-0;
    @apply bg-white;
    @apply h-full;
    @apply w-full;
  }
}

.toasted-container {
  .toasted {
    &.toasted-primary {
      @apply bg-tooltip;
      @apply text-primary text-xs;
      @apply justify-start;
      @apply shadow;
      @apply font-semibold;

      .action {
        @apply ml-auto;
        @apply transition;
        @apply text-current;
        @apply hover:(opacity-75 no-underline);
      }
    }

    &.info {
      @apply !bg-accent;
    }

    &.error {
      @apply !bg-red-200;
      @apply !text-red-800;
    }

    &.success {
      @apply !bg-green-200;
      @apply !text-green-800;
    }
  }
}

.splitpanes__splitter {
  @apply relative;
  @apply bg-primaryLight;
}

.splitpanes--vertical > .splitpanes__splitter {
  @apply w-1;
}

.splitpanes--horizontal > .splitpanes__splitter {
  @apply h-1;
}

.splitpanes__splitter::before {
  @apply absolute;
  @apply inset-0;
  @apply bg-dividerLight;
  @apply opacity-0;
  @apply z-30;
  @apply transition;

  content: "";
}

.splitpanes__splitter::after {
  @apply absolute;
  @apply inset-0;
  @apply z-30;
  @apply transition;
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply text-dividerDark;
  @apply font-icon;
}

.splitpanes--vertical > .splitpanes__splitter::after {
  content: "\e5d4";
}

.splitpanes--horizontal > .splitpanes__splitter::after {
  content: "\e5d3";
}

.splitpanes__splitter:hover::before {
  @apply opacity-100;
}

.splitpanes--vertical > .splitpanes__splitter::before {
  left: -2px;
  right: -2px;
  height: 100%;
}

.splitpanes--horizontal > .splitpanes__splitter::before {
  top: -2px;
  bottom: -2px;
  width: 100%;
}

@media (max-width: 767px) {
  main {
    margin-bottom: env(safe-area-inset-bottom);
  }
}
