@mixin baseTheme {
  --font-sans: "Montserrat", "sans-serif";
  --font-mono: "Roboto Mono", "monospace";
  --font-icon: "Material Icons";
}

@mixin darkTheme {
  // Background color
  --primary-color: theme("colors.true-gray.900");
  // Light Background color
  --primary-light-color: theme("colors.true-gray.800");
  // Dark Background color
  --primary-dark-color: theme("colors.dark.900");
  // Text color
  --secondary-color: theme("colors.true-gray.400");
  // Light Text color
  --secondary-light-color: theme("colors.true-gray.200");
  // Dark Text color
  --secondary-dark-color: theme("colors.white");
  // Border color
  --divider-color: theme("colors.true-gray.700");
  // Light Border color
  --divider-light-color: theme("colors.true-gray.800");
  // Dark Border color
  --divider-dark-color: theme("colors.true-gray.600");
  // Error color
  --error-color: theme("colors.true-gray.600");
  // Tooltip color
  --tooltip-color: theme("colors.true-gray.800");
  // Editor theme
  --editor-theme: "merbivore_soft";
}

@mixin lightTheme {
  // Background color
  --primary-color: theme("colors.white");
  // Light Background color
  --primary-light-color: theme("colors.true-gray.50");
  // Dark Background color
  --primary-dark-color: theme("colors.true-gray.100");
  // Text color
  --secondary-color: theme("colors.true-gray.500");
  // Light Text color
  --secondary-light-color: theme("colors.true-gray.400");
  // Dark Text color
  --secondary-dark-color: theme("colors.true-gray.600");
  // Border color
  --divider-color: theme("colors.true-gray.200");
  // Light Border color
  --divider-light-color: theme("colors.true-gray.100");
  // Dark Border color
  --divider-dark-color: theme("colors.true-gray.300");
  // Error color
  --error-color: theme("colors.true-gray.700");
  // Tooltip color
  --tooltip-color: theme("colors.true-gray.700");
  // Editor theme
  --editor-theme: "textmate";
}

@mixin blackTheme {
  // Background color
  --primary-color: theme("colors.dark.900");
  // Light Background color
  --primary-light-color: theme("colors.dark.700");
  // Dark Background color
  --primary-dark-color: theme("colors.dark.800");
  // Text color
  --secondary-color: theme("colors.true-gray.400");
  // Light Text color
  --secondary-light-color: theme("colors.true-gray.600");
  // Dark Text color
  --secondary-dark-color: theme("colors.true-gray.100");
  // Border color
  --divider-color: theme("colors.dark.800");
  // Light Border color
  --divider-light-color: theme("colors.dark.700");
  // Dark Border color
  --divider-dark-color: theme("colors.dark.600");
  // Error color
  --error-color: theme("colors.dark.800");
  // Tooltip color
  --tooltip-color: theme("colors.dark.500");
  // Editor theme
  --editor-theme: "vibrant_ink";
}

@mixin blueTheme {
  // Accent color
  --accent-color: theme("colors.blue.400");
  // Light Accent color
  --accent-light-color: theme("colors.blue.200");
  // Dark Accent color
  --accent-dark-color: theme("colors.blue.600");
  // Gradient from
  --gradient-from-color: theme("colors.blue.200");
  // Gradient via
  --gradient-via-color: theme("colors.blue.400");
  // Gradient to
  --gradient-to-color: theme("colors.blue.600");
}

@mixin greenTheme {
  // Accent color
  --accent-color: rgb(97, 207, 123);
  // Light Accent color
  --accent-light-color: rgba(73, 204, 104, 1);
  // Dark Accent color
  --accent-dark-color: rgb(0, 71, 17);
  // Gradient from
  --gradient-from-color: theme("colors.green.200");
  // Gradient via
  --gradient-via-color: theme("colors.green.400");
  // Gradient to
  --gradient-to-color: theme("colors.green.600");
}

@mixin tealTheme {
  // Accent color
  --accent-color: theme("colors.teal.400");
  // Light Accent color
  --accent-light-color: theme("colors.teal.200");
  // Dark Accent color
  --accent-dark-color: theme("colors.teal.600");
  // Gradient from
  --gradient-from-color: theme("colors.blue.200");
  // Gradient via
  --gradient-via-color: theme("colors.blue.400");
  // Gradient to
  --gradient-to-color: theme("colors.blue.600");
}

@mixin indigoTheme {
  // Accent color
  --accent-color: theme("colors.indigo.400");
  // Light Accent color
  --accent-light-color: theme("colors.indigo.200");
  // Dark Accent color
  --accent-dark-color: theme("colors.indigo.600");
  // Gradient from
  --gradient-from-color: theme("colors.blue.200");
  // Gradient via
  --gradient-via-color: theme("colors.blue.400");
  // Gradient to
  --gradient-to-color: theme("colors.blue.600");
}

@mixin purpleTheme {
  // Accent color
  --accent-color: theme("colors.purple.400");
  // Light Accent color
  --accent-light-color: theme("colors.purple.200");
  // Dark Accent color
  --accent-dark-color: theme("colors.purple.600");
  // Gradient from
  --gradient-from-color: theme("colors.blue.200");
  // Gradient via
  --gradient-via-color: theme("colors.blue.400");
  // Gradient to
  --gradient-to-color: theme("colors.blue.600");
}

@mixin orangeTheme {
  // Accent color
  --accent-color: theme("colors.orange.400");
  // Light Accent color
  --accent-light-color: theme("colors.orange.200");
  // Dark Accent color
  --accent-dark-color: theme("colors.orange.600");
  // Gradient from
  --gradient-from-color: theme("colors.blue.200");
  // Gradient via
  --gradient-via-color: theme("colors.blue.400");
  // Gradient to
  --gradient-to-color: theme("colors.blue.600");
}

@mixin pinkTheme {
  // Accent color
  --accent-color: theme("colors.pink.400");
  // Light Accent color
  --accent-light-color: theme("colors.pink.200");
  // Dark Accent color
  --accent-dark-color: theme("colors.pink.600");
  // Gradient from
  --gradient-from-color: theme("colors.blue.200");
  // Gradient via
  --gradient-via-color: theme("colors.blue.400");
  // Gradient to
  --gradient-to-color: theme("colors.blue.600");
}

@mixin redTheme {
  // Accent color
  --accent-color: theme("colors.red.400");
  // Light Accent color
  --accent-light-color: theme("colors.red.200");
  // Dark Accent color
  --accent-dark-color: theme("colors.red.600");
  // Gradient from
  --gradient-from-color: theme("colors.blue.200");
  // Gradient via
  --gradient-via-color: theme("colors.blue.400");
  // Gradient to
  --gradient-to-color: theme("colors.blue.600");
}

@mixin yellowTheme {
  // Accent color
  --accent-color: theme("colors.yellow.400");
  // Light Accent color
  --accent-light-color: theme("colors.yellow.200");
  // Dark Accent color
  --accent-dark-color: theme("colors.yellow.600");
  // Gradient from
  --gradient-from-color: theme("colors.blue.200");
  // Gradient via
  --gradient-via-color: theme("colors.blue.400");
  // Gradient to
  --gradient-to-color: theme("colors.blue.600");
}

:root {
  @include baseTheme;
  @include darkTheme;
  @include greenTheme;
}

:root.light {
  @include lightTheme;
}

:root.dark {
  @include darkTheme;
}

:root.black {
  @include blackTheme;
}

:root[data-accent="blue"] {
  @include blueTheme;
}
:root[data-accent="green"] {
  @include greenTheme;
}
:root[data-accent="teal"] {
  @include tealTheme;
}
:root[data-accent="indigo"] {
  @include indigoTheme;
}
:root[data-accent="purple"] {
  @include purpleTheme;
}
:root[data-accent="orange"] {
  @include orangeTheme;
}
:root[data-accent="pink"] {
  @include pinkTheme;
}
:root[data-accent="red"] {
  @include redTheme;
}
:root[data-accent="yellow"] {
  @include yellowTheme;
}
