/**
  Main Themes:

  - dark (default)
  - light
 */

// Dark is the default theme variant.
:root {
  --bg-dark-color: #1d1f27;
  // Background color
  --bg-color: #282a36;
  // Auto-complete color
  --atc-color: #20212b;
  // Text color
  --fg-color: #c4c6d4;
  // Border color
  --brd-color: #333545;
  // Error color
  --err-color: #303341;
  // Active color
  --ac-color: #50fa7b;
  // Active text color
  --act-color: #282a36;
}

:root.light {
  --bg-dark-color: #e1e4eb;
  // Background color
  --bg-color: #ebeef5;
  // Auto-complete color
  --atc-color: #e1e4eb;
  // Text color
  --fg-color: #5d5d5f;
  // Border color
  --brd-color: #ccc;
  // Error color
  --err-color: invert(#3C4556, 1);
  // Active color
  --ac-color: #57b5f9;
  // Active text color
  --act-color: #ebeef5;
}
