/**
  Main Themes:

  - dark (default)
  - light
 */

// Dark is the default theme variant.
:root {
  --bg-dark-color: #44475a;
  // Background color
  --bg-color: #282a36;
	// Auto-complete color
	--atc-color: #3C4556;
  // Text color
  --fg-color: #f8f8f2;

  // Error color
  --err-color: #3C4556;

  // Active color
  --ac-color: #50fa7b;
  // Active text color
  --act-color: #282a36;
}

:root.light {
  --bg-dark-color: #ffffff;
  // Background color
  --bg-color: #F6F8FA;
	// Auto-complete color
	--atc-color: #F1F1F1;
  // Text color
  --fg-color: #121212;

  // Error color
  --err-color: invert(#393939, 1);

  // Active color
  --ac-color: #51FF0D;
  // Active text color
  --act-color: #121212;
}
