html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-teal-600 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.btn {
  @apply rounded cursor-pointer bg-teal-600 text-white
    py-1 px-4 inline-block
    hover:bg-teal-700
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply cursor-pointer opacity-75 transition
    ease-in-out duration-200 inline-block select-none
    hover:opacity-100 hover:text-teal-600;
  font-size: 0.9em;
}
