@mixin dark-editor-theme {
  --editor-type-color: #a78bfa;
  --editor-name-color: #60a5fa;
  --editor-operator-color: #818cf8;
  --editor-invalid-color: #f87171;
  --editor-separator-color: #9ca3af;
  --editor-meta-color: #9ca3af;
  --editor-variable-color: #34d399;
  --editor-link-color: #22d3ee;
  --editor-process-color: #e879f9;
  --editor-constant-color: #a78bfa;
  --editor-keyword-color: #f472b6;
}

@mixin light-editor-theme {
  --editor-type-color: #7c3aed;
  --editor-name-color: #dc2626;
  --editor-operator-color: #4f46e5;
  --editor-invalid-color: #dc2626;
  --editor-separator-color: #4b5563;
  --editor-meta-color: #4b5563;
  --editor-variable-color: #059669;
  --editor-link-color: #0891b2;
  --editor-process-color: #2563eb;
  --editor-constant-color: #c026d3;
  --editor-keyword-color: #db2777;
}

@mixin black-editor-theme {
  --editor-type-color: #a78bfa;
  --editor-name-color: #e879f9;
  --editor-operator-color: #818cf8;
  --editor-invalid-color: #f87171;
  --editor-separator-color: #9ca3af;
  --editor-meta-color: #9ca3af;
  --editor-variable-color: #34d399;
  --editor-link-color: #22d3ee;
  --editor-process-color: #a78bfa;
  --editor-constant-color: #60a5fa;
  --editor-keyword-color: #f472b6;
}
