@mixin create-theme(
  $primary,
  $primaryLight,
  $primaryDark,
  $primaryContrast,
  $secondary,
  $secondaryLight,
  $secondaryDark,
  $divider,
  $dividerLight,
  $dividerDark,
  $error,
  $tooltip,
  $popover,
  $editorTheme
) {
  --primary-color: $primary;
  --primary-light-color: $primaryLight;
  --primary-dark-color: $primaryDark;
  --primary-contrast-color: $primaryContrast;

  --secondary-color: $secondary;
  --secondary-light-color: $secondaryLight;
  --secondary-dark-color: $secondaryDark;

  --divider-color: $divider;
  --divider-light-color: $dividerLight;
  --divider-dark-color: $dividerDark;

  --error-color: $error;
  --tooltip-color: $tooltip;
  --popover-color: $popover;
  --editor-theme: $editorTheme;
}

@mixin create-editor-theme(
  $typeColor,
  $nameColor,
  $operatorColor,
  $invalidColor,
  $separatorColor,
  $metaColor,
  $variableColor,
  $linkColor,
  $processColor,
  $constantColor,
  $keywordColor
) {
    --editor-type-color: $typeColor
    --editor-name-color: $nameColor
    --editor-operator-color: $operatorColor
    --editor-invalid-color: $invalidColor
    --editor-separator-color: $separatorColor
    --editor-meta-color: $metaColor
    --editor-variable-color: $variableColor
    --editor-link-color: $linkColor
    --editor-process-color: $processColor
    --editor-constant-color: $constantColor
    --editor-keyword-color: $keywordColor
}



@mixin create-color-theme(
  $accent,
  $accentLight,
  $accentDark,
  $accentContrast,
  $gradientFrom,
  $gradientVia,
  $gradientTo
) {
  --accent-color: $accent;
  --accent-light-color: $accentLight;
  --accent-dark-color: $accentDark;
  --accent-contrast-color: $accentContrast;
  --gradient-from-color: $gradientFrom;
  --gradient-via-color: $gradientVia;
  --gradient-to-color: $gradientTo;
}
