@import "./base-themes.scss";
@import "./editor-themes.scss";
@import "./accent-themes.scss";

:root {
  @include base-theme;
  @include dark-theme;
  @include green-theme;
  @include dark-editor-theme;
}

:root.light {
  @include light-theme;
  @include light-editor-theme;
  color-scheme: light;
}

:root.dark {
  @include dark-theme;
  @include dark-editor-theme;
  color-scheme: dark;
}

:root.black {
  @include black-theme;
  @include black-editor-theme;
  color-scheme: dark;
}

:root[data-accent="blue"] {
  @include blue-theme;
}

:root[data-accent="green"] {
  @include green-theme;
}

:root[data-accent="teal"] {
  @include teal-theme;
}

:root[data-accent="indigo"] {
  @include indigo-theme;
}

:root[data-accent="purple"] {
  @include purple-theme;
}

:root[data-accent="orange"] {
  @include orange-theme;
}

:root[data-accent="pink"] {
  @include pink-theme;
}

:root[data-accent="red"] {
  @include red-theme;
}

:root[data-accent="yellow"] {
  @include yellow-theme;
}

@mixin font-small {
  --font-size-body: 0.75rem;
  --line-height-body: 1rem;
  --upper-primary-sticky-fold: 4.125rem;
  --upper-secondary-sticky-fold: 6.188rem;
  --upper-tertiary-sticky-fold: 8.25rem;
  --upper-mobile-primary-sticky-fold: 6.625rem;
  --upper-mobile-secondary-sticky-fold: 8.688rem;
  --upper-mobile-sticky-fold: 10.75rem;
  --upper-mobile-tertiary-sticky-fold: 8.25rem;
  --lower-primary-sticky-fold: 3rem;
  --lower-secondary-sticky-fold: 5.063rem;
  --lower-tertiary-sticky-fold: 7.125rem;
  --sidebar-primary-sticky-fold: 2rem;
}

@mixin font-medium {
  --font-size-body: 0.875rem;
  --line-height-body: 1.25rem;
  --upper-primary-sticky-fold: 4.375rem;
  --upper-secondary-sticky-fold: 6.688rem;
  --upper-tertiary-sticky-fold: 9rem;
  --upper-mobile-primary-sticky-fold: 7.125rem;
  --upper-mobile-secondary-sticky-fold: 9.438rem;
  --upper-mobile-sticky-fold: 11.75rem;
  --upper-mobile-tertiary-sticky-fold: 9rem;
  --lower-primary-sticky-fold: 3.25rem;
  --lower-secondary-sticky-fold: 5.563rem;
  --lower-tertiary-sticky-fold: 7.875rem;
  --sidebar-primary-sticky-fold: 2.25rem;
}

@mixin font-large {
  --font-size-body: 1rem;
  --line-height-body: 1.5rem;
  --upper-primary-sticky-fold: 4.625rem;
  --upper-secondary-sticky-fold: 7.188rem;
  --upper-tertiary-sticky-fold: 9.75rem;
  --upper-mobile-primary-sticky-fold: 7.625rem;
  --upper-mobile-secondary-sticky-fold: 10.188rem;
  --upper-mobile-sticky-fold: 12.75rem;
  --upper-mobile-tertiary-sticky-fold: 9.75rem;
  --lower-primary-sticky-fold: 3.5rem;
  --lower-secondary-sticky-fold: 6.063rem;
  --lower-tertiary-sticky-fold: 8.625rem;
  --sidebar-primary-sticky-fold: 2.5rem;
}

:root[data-font-size="small"] {
  @include font-small;
}

:root[data-font-size="medium"] {
  @include font-medium;
}

:root[data-font-size="large"] {
  @include font-large;
}
